.countainer{
    margin: 20px 300px;
}

.input_box_solution{
    margin-top: 40px;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    
    
}

.input_box_option{
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    width: 500px;
    
}